In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [14]:
dataHosp = pd.read_csv('data/Hospitales_Normalizados.csv', index_col=0)

0      1
2      1
3      1
4      1
5      1
      ..
560    0
561    0
562    0
563    0
564    0
Name: HOSPITALIZACION, Length: 556, dtype: int64

In [15]:
X = dataHosp

,EDAD,DIABETES,HOSPITALIZACIÓN ULTIMO MES,PSA,VOLUMEN PROSTATICO,NUMERO DE MUESTRAS TOMADAS,ENF. CRONICA PULMONAR OBSTRUCTIVA,FIEBRE,ITU,HOSPITALIZACION
0,53.0,0,0,4.0,1,12.0,0,1,0,1
1,56.0,0,0,7.7,1,12.0,0,1,0,1
2,57.0,0,0,29.0,1,24.0,0,1,0,1
3,56.0,0,0,7.0,1,12.0,0,1,0,1
4,55.0,0,0,29.0,1,24.0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...
560,57.0,0,0,4.8,0,12.0,0,0,0,0
561,75.0,0,0,75.0,1,12.0,0,0,0,0
562,78.0,0,0,9.3,1,12.0,0,0,0,0
563,67.0,0,0,6.0,1,12.0,0,0,0,0
564,64.0,0,0,4.8,1,12.0,0,0,0,0